<div ng-include="'/views/Album/header.html'"></div>

<div ng-repeat="line in folder.image_lines" class="flex-container">
    <article
        class="opium-thumbnail"
        ng-repeat="(itemId, item) in line"
        ng-init="album = getAlbumById(itemId)"
        id="{{ album.slug }}"
        ng-class="{'selected': album.slug == selected}"
        >


        <a ng-if="album.type == 'file'"
            ng-href="{{ folder.slug ? '/' + folder.slug : '/root' }}/{{ album.slug }}"
            title="{{ album.name }}"
            data-set-main-url="{{ folder.path }}"
            data-set-main-params="{{ album.pathname }}"
        >
        <div
            afkl-lazy-image="{{item.thumbs}}"
            ng-style="{'width':item.geometry.width + 'px', 'height': item.geometry.height + 'px' }"
        />
        </div>

        <a
            ng-href="/{{ album.slug }}"
            ng-if="album.type != 'file'"
            ng-class="{ 'no-thumbnail': !album._embedded.directory_thumbnail }"
            ng-style="{'line-height': item.geometry.height + 'px', 'height': item.geometry.height + 'px', 'width': item.geometry.width + 'px'}"
        >
            <i class="ion-folder" ng-if="!album._embedded.directory_thumbnail"></i>

            <img ng-src="{{ item.thumbs }}"
                ng-if="album._embedded.directory_thumbnail"
            />
        </a>

        <div class="caption">
            {{ album.name }}
        </div>

    </article>
</div>

<p class="text-right">
    <a href="{{ folder.slug ? '/' + folder.slug : '' }}/_page_upload">upload files</a>
    |
    Total number of items: {{ folder.children.length }}
</p>
