.ThumbnailList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.Footer {
    text-align: right;
}

.DirectoryHeaderWithBanner {
    height: 400px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 80px;
}

.DirectoryHeaderTitle {
    margin-top: 70px;
    color: #fff;
    text-align: center;
    font-size: 54px;
}

.Back {
    display: inline-block;
    padding: 1em;
    font-size: 1.2em;
    color: #899eaf;
    text-decoration: none;
}

.Back:hover {
    text-decoration: underline;
}
