.Directory__Row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.DirectoryFooter {
    text-align: right;
}

.DirectoryHeader {
    position: relative;
    min-height: 80px;
}

.DirectoryHeader--WithBanner {
    height: 400px;
    margin-bottom: 80px;
}

.DirectoryHeader__Image {
    position: absolute;
    z-index: -1;
    opacity: .3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;

    transition: opacity 1s ease-in-out;
}

.DirectoryHeader__Image--Opaque {
    opacity: 1;
}

.DirectoryHeader__Title {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 1em;
    margin: 0;
    color: #A0937F;
    text-align: center;
    font-size: 54px;
}

.DirectoryHeader__Back, .DirectoryHeader__UploadLink {
    display: inline-block;
    margin: .5em;
    padding: .8em;
    font-size: 1.2em;
    background: rgba(89,79,63,.6);
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}

.DirectoryHeader__Back:hover, .DirectoryHeader__UploadLink:hover {
    text-decoration: underline;
}

.DirectoryHeader__UploadLink {
    position: absolute;
    top: 0;
    right: 0;
}

.DirectoryHeader__MapContainer {
    position: absolute;
    bottom: -55px;
    left: 50%;
    margin-left: -55px;
}

.DirectoryHeader__Map {
    border-radius: 50%;
    z-index: 1;
    width: 110px;
    height: 110px;
}

.DirectoryHeader__Map .leaflet-control-container {
    display: none;
}
