.FileHeader {
    height: 80px;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.FileHeader__Title {
    flex: 1;
    text-align: center;
}

.FileHeader__BackContainer {
    flex-shrink: 0;
}

.FileHeader__BackToAlbum {
    margin-left: .5em;
    margin-right: .5em;
    padding: .8em;
    border-radius: 3px;
    font-size: 1.2em;
    background: #4F3A1B;
    color: #fff;
    text-decoration: none;
}

.FileHeader__BackToAlbum:hover {
    text-decoration: underline;
}


.File__MainContainer {
    display: flex;
    justify-content: center;
    position: relative;
}

.File__ImageContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3em;
}

.Prev:hover > .Overlay, .Next:hover > .Overlay {
    display: flex;
}

.FileOverlay__Link {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #fff;
    text-decoration: none;
}

.FileOverlay__Link--Prev {
    left: 0;
    width: 30%;
    align-items: flex-start;
    padding-left: 30px;
}

.FileOverlay__Link--Next {
    right: 0;
    width: 45%;
    align-items: flex-end;
    padding-right: 30px;
}

.FileOverlay__ChevronContainer {
    background: rgba(0,0,0,.5);
    display: none;
    font-size: 60px;
    padding: 20px;
    border-radius: 5px;
}

.FileOverlay__Link:hover > .FileOverlay__ChevronContainer {
    display: flex;
    max-width: 100%;
}

.File__Image {
    display: inline;
    max-width: 100%;
    max-height: 100%;
}

.Table {
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.Table th, .Table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.Table th {
    text-align: left;
}
