.Thumbnail {
    position: relative;
    margin: 5px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
}

.Thumbnail_Caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    background: rgba(89, 79, 63, .6);
    color: #fff;
    text-align: center;
}

.Thumbnail_FolderPlaceholder {
    color: rgb( 89, 79, 63);
}

.Thumbnail_FolderPlaceholder:hover, .Thumbnail_FolderPlaceholder:active {
    color: rgb( 79, 58, 27)
}
