<div class="header"
    ng-class="{'cover': folder._embedded.directory_thumbnail.thumbnails.banner, 'header': true }"
    ng-style="getHeaderStyle()"
>
    <a href="/{{ folder.parent.slug }}" ng-if="folder.parent" class="back">
        <i class="ion-chevron-left"></i>
        {{ folder.parent.name ? folder.parent.name : "Back to albums" }}
    </a>

    <h1>
        {{ folder.name }}
    </h1>

    <div class="map-container">
        <a ng-href="/{{ folder.slug }}/_page_map">
            <leaflet
                defaults="mapDefaults"
                markers="markers"
                maxbounds="maxbounds"
                ng-if="markers[0]"
                class="center map"
            ></leaflet>
        </a>
    </div>
</div>


